.random-note {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 32px;
  margin: 0;
  text-align: inherit;
  flex-shrink: 0;

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    color: var(--darkgray);
    transition: opacity 0.1s ease;
  }

  &:hover svg {
    color: var(--secondary);
  }
}
